[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.2"
xlrd = "==2.0.1"
darts = "==0.32.0"
matplotlib = "==3.8.4"
seaborn = "==0.13.2"
tqdm = "==4.66.6"
pandas = "==2.2.2"
numpy = "==1.26.4"
flask = "==3.0.3"
optuna = "==4.2.0"
torch = "==2.5.1"

[dev-packages]
jupyter = "*"
tensorflow = "==2.18.0"
tensorboard = "==2.18.0"
folium = "==0.19.3"
kagglehub = "==0.3.6"
plotly = "==5.24.1"

[requires]
python_version = "3.12"
